.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.video-caption {
  font-size: 2.5rem;
  font-weight: bold;
}

.video-description {
  font-size: 1.5rem;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

.indian-flag-text span {
  animation: colorChange 1s infinite alternate;
}

@keyframes colorChange {
  0% {
    color: #ff9933; /* Saffron */
  }
  50% {
    color: #fff; /* White */
  }
  100% {
    color: #138808; /* Green */
  }
}

@media screen and (max-width: 992px) {
  .video-caption {
    font-size: 2rem;
  }

  .video-description {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .video-caption {
    font-size: 1.5rem;
  }

  .video-description {
    font-size: 1rem;
  }
}

  .cssbuttons-io-button {
    background: #47671c9d;
    color: white;
    font-family: inherit;
    padding: 0.5em;
    padding-left: 1em;
    font-size: 15px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #47671c9d;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: rgb(88, 163, 92);
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #47671c9d;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #46671c;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  

